* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

#categoryName:first-letter {
    text-transform: uppercase;
}

#passwordRoot {
    transition: .5s;
}

.password-container {
    padding: 1.1rem;
}

.pc-header {
    padding: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid lightgray;
}

.category-name {
    margin-left: 0.5rem;
}

.pc-search-area {
    padding: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid lightgray;
}

#menu-body {
    max-width: 350px !important;
    z-index: 15;
    background: white;
    padding: 15px;
    transition: .5s;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-radius: 0 5px 5px 0;
}

.menu-body-close {
    display: none !important;
    opacity: 0 !important;
}

.open {
    display: flex !important;
    opacity: 1 !important;
}

.menu-btn {
    padding: 10px;
}

.table {
    margin-bottom: 0;
}

#alertSuccessAdded, #alertDeclineAdded, #alertSuccessUpdated, #alertDeclineUpdated,
#alertSuccessDeleted, #alertDeclineDeleted, #alertSuccessChanged, #alertErrorLoadCategory {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 10000;
}