* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

#categoryName:first-letter {
    text-transform: uppercase;
}

#passwordRoot {
    transition: .5s;
}

.red-outline {
    border: 1px solid red;
}

.password-container {
    /*border: 1px solid black;*/
    /*border-radius: 5px;*/
    padding: 1.1rem;
}

.pc-header {
    padding: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid lightgray;
}

.category-name {
    margin-left: 0.5rem;
}

.pc-search-area {
    padding: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid lightgray;
}

#menu-body {
    max-width: 350px !important;
    z-index: 15;
    background: white;
    padding: 15px;
    transition: .5s;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-radius: 0px 5px 5px 0px;
}

.menu-body-close {
    display: none !important;
    opacity: 0 !important;
}

.open {
    display: flex !important;
    opacity: 1 !important;
}

.menu-btn {
    padding: 10px;
}

#btnMenu {
    position: relative;
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    cursor: pointer;
}

#btnMenu > * {
    transition: .5s !important;
}

#btnMenu > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 2.1rem;
    background: black;
}

#btnMenu > div:nth-child(1), #btnMenu > div:nth-child(2), #btnMenu > div:nth-child(3) {
    left: 50%;
}

#btnMenu > div:nth-child(1) {
    transform: rotate(-90deg);
    top: -10px;
}

#btnMenu > div:nth-child(2) {
    transform: rotate(-90deg);
    top: 10px;
}

#btnMenu > div:nth-child(3) {
    transform: rotate(90deg);
    top: 0;
}

.first-div-rotate {
    transform: rotate(45deg) !important;
    top: 0 !important;
}

.second-div-rotate {
    transform: rotate(-45deg) !important;
    top: 0 !important;
}

.third-div-none {
    display: none !important;
}

div[contenteditable=true] {
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

.table {
    margin-bottom: 0;
}

.btn-outline-primary {
    font-size: 1.5rem;
}